<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSJS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TSJS.Properties.Settings>
            <setting name="Decrypter" serializeAs="String">
                <value />
            </setting>
            <setting name="DistanceUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnvisitedCities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Extractor" serializeAs="String">
                <value />
            </setting>
            <setting name="ETS2" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Euro Truck Simulator 2</value>
            </setting>
            <setting name="ATS" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\American Truck Simulator</value>
            </setting>
        </TSJS.Properties.Settings>
    </userSettings>
</configuration>